Flask==2.1.0
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
git+https://github.com/huggingface/diffusers.git@sd_xl
transformers
accelerate
safetensors
numpy>=1.17
PyWavelets>=1.1.1
opencv-python>=4.1.0.25
invisible-watermark
